-r requirements/features_extraction.txt
-r requirements/aggression.txt
-r requirements/congruence.txt
-r requirements/contradiction.txt
-r requirements/antiplagiarism.txt
-r requirements/confidence/requirements.txt
